# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Maven
target/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# 기타 생성된 파일
*.class